{% extends 'base.html' %}

{% block content %}

  {% if form.errors %}
    <br>
    <div class="alert alert-danger" role="alert">
      Veuillez vérifier votre mot de passe et réessayer.
    </div>
  {% endif %}

  <h3>Connexion</h3>
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="id_username">Nom d'utilisateur</label>
      <input type="text" class="form-control" name="username" autofocus="" required="" id="id_username"
             autocomplete="off" placeholder="Nom d'utilisateur">
    </div>
    <div class="form-group">
      <label for="id_password">Mot de passe</label>
      <input type="password" class="form-control" name="password" required="" id="id_password" autocomplete="off"
             placeholder="Mot de passe">
    </div>
    <button type="submit" class="btn btn-success">Connexion</button>
  </form>
{% endblock %}
