{% extends "base.html" %}
{% load static %}

{% block content %}

  <div class="modal" id="modal_select_player" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Sélectionner un joueur</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{ form.player_name }}
          <div class="alert alert-danger" role="alert" id="missing-player">
            Veuillez choisir un joueur avant de cliquer sur Sélectionner.
          </div>
        </div>
        <div class="modal-footer">
          <input type="hidden" id="pick-number">
          <button type="button" class="btn btn-warning" data-toggle="tooltip" data-placement="bottom"
                  title="Si vous ne voulez pas sélectionner de joueur." onclick="skipPlayer()">
            <i class="fas fa-fw fa-ban"></i>Passe
          </button>
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
            <i class="fas fa-fw fa-times"></i>Annuler
          </button>
          <button type="button" class="btn btn-success" onclick="choosePlayer()">
            <i class="fas fa-fw fa-check"></i>Sélectionner
          </button>
        </div>
      </div>
    </div>
  </div>

  {% regroup pick_list by round as round_pick_list %}

  {% for pick in round_pick_list %}
    <section class="affix">
      <h3>Ronde {{ pick.grouper }}</h3>
      <table class="table table-striped table-hover">
        <thead class="thead-dark">
        <tr>
          <th scope="col" style="width: 10%">#</th>
          <th scope="col" style="width: 25%">Équipe originale</th>
          <th scope="col" style="width: 25%">Appartient à</th>
          <th scope="col" style="width: 40%">Joueur</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        </tr>
        {% for item in pick.list %}
          <tr>
            <th scope="row">{{ item.number }}</th>
            <td>
              <div data-toggle="tooltip" data-placement="right" title="{{ item.original_team }}"
                   class="img{% if item.current_team != item.original_team %} smaller{% endif %}"
                   {% if item.original_team.image %}style="background-image:url('{{ item.original_team.image }}')"{% endif %}></div>
            </td>
            <td>
              {% if item.current_team != item.original_team %}
                <div data-toggle="tooltip" data-placement="right" title="{{ item.current_team }}" class="img"
                     style="background-image:url('{{ item.current_team.image }}')"></div>
              {% endif %}
            </td>
            <td id="pick-{{ item.number }}">
              {% if item.picked and user in item.current_team.users.all %}
                <b>{{ item.player|default:"Aucun" }}</b> <span class="badge badge-pill badge-success">Sélectionné</span>
              {% elif item.picked %}
                {{ item.player|default:"Aucun" }}
              {% elif user in item.current_team.users.all or user.is_staff %}
                <button type="button" disabled="disabled"
                        class="select-player-btn btn btn-outline-dark btn-sm btn-block"
                        data-toggle="modal" data-number="{{ item.number }}"
                        data-target="#modal_select_player"
                        data-toggle="tooltip" data-placement="top" title="Sélectionner un joueur">
                  <i class="fas fa-user-check"></i>
                  <span class="d-none d-sm-inline-block">Sélectionner un joueur</span>
                </button>
              {% endif %}
            </td>
          </tr>
        {% endfor %}

        </tbody>
      </table>
    </section>
  {% endfor %}

{% endblock %}

{% block scripts %}
  <script>
    var ws_scheme = window.location.protocol === "https:" ? "wss" : "ws";
    let socket = new WebSocket(ws_scheme + '://' + window.location.host + '/ws/pick/');

    socket.onmessage = (e) => {
      let data = JSON.parse(e.data);
      let playerName = data['player_name'];
      let pickNumber = data['pick_number'];
      $("#pick-" + pickNumber).html(playerName);

      enable_next_pick();
    };

    socket.onclose = (e) => console.error('Chat socket closed unexpectedly', e);
    socket.onerror = (e) => console.error(e);
    socket.onopen = (e) => console.debug('Socket open', e);

    function enable_next_pick() {
      $.ajax({
        url: '/next-pick/',
        type: 'get',
        dataType: 'json',
        success: function (data) {
          $('#modal_select_player').modal('hide');
          if ('pick_number' in data) {
            let playerElement = $('#pick-' + data['pick_number'] + ' .select-player-btn[disabled]');
            if (playerElement.length)
              playerElement.first().attr('disabled', false);
            $('html, body').animate({
              scrollTop: $('.select-player-btn:not([disabled])').offset().top - 350
            }, 1000);
          }
        },
        complete: function () {
          $("#id_player_name").val('');
          $('#select2-id_player_name-container').html('');
        }
      });
    }

    function choosePlayer() {
      let pickNumber = $('#pick-number').val();
      let playerId = $('#id_player_name').val();
      let playerName = $('#select2-id_player_name-container').html();

      if (playerId) {
        socket.send(JSON.stringify({
          'player_id': playerId,
          'player_name': playerName,
          'pick_number': pickNumber,
        }));
        $('#missing-player').hide();
      } else {
        $('#missing-player').show();
      }
    }

    function skipPlayer() {
      let pickNumber = $('#pick-number').val();
      socket.send(JSON.stringify({
        'player_id': null,
        'player_name': 'Aucun',
        'pick_number': pickNumber,
      }));
    }

    function fixTitle() {
      $('section.affix').each(function () {
        let $this = $(this);
        let offset = $this.offset().top;
        let scrollTop = $(window).scrollTop() + 100;

        if (scrollTop > offset) {
          $this.addClass('fixed');
        } else {
          $this.removeClass('fixed');
        }
      });
    }

    $(document).ready(function () {
      // Do this before you initialize any of your modals
      $.fn.modal.Constructor.prototype._enforceFocus = function () {
      };

      $('#modal_select_player').on('show.bs.modal', function (event) {
        let button = $(event.relatedTarget);
        let pickNumber = button.data('number');
        $('#pick-number').val(pickNumber);
      });

      $('[data-toggle="tooltip"]').tooltip();

      $('#missing-player').hide();

      $(window).scroll(fixTitle);

      enable_next_pick();
    });
  </script>
  {{ form.media }}
{% endblock %}

