.modal-body .select2-container {
  width: 100% !important;
  min-width: 15em;
}

.table th {
  text-align: center;
}

.table td, .table th[scope=row] {
  vertical-align: middle;
}

.img {
  position: relative;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
}

.img.smaller {
  width: 25px;
  height: 25px;
}

.modal-body .alert {
  margin-top: 15px;
}

section {
  overflow: hidden;
  position: relative;
}

section h3 {
  background-color: #fff;
  width: 100%;
  z-index: 2;
  padding: 5px 20px;
  text-transform: uppercase;
}

.fixed h3:first-child {
  position: fixed;
  top: 56px;
}
