{% load static %}
<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>Django Drafter</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <link rel="stylesheet" href="{% static 'styles/main.css' %}">

  {% block styles %}{% endblock %}
</head>
<body>

<nav class="navbar sticky-top navbar-dark bg-dark">
  <span class="navbar-brand mb-0 h1">Repêchage LNHVQ 2020</span>
  {% if user.is_authenticated %}
    <a class="btn btn-outline-light" href="{% url 'logout' %}"
       data-toggle="tooltip" data-placement="left" title="Déconnexion">
      <i class="fas fa-fw fa-power-off"></i>
      <span class="d-none d-sm-inline-block">Déconnexion</span>
    </a>
  {% else %}
    <a class="btn btn-success" href="{% url 'login' %}"
       data-toggle="tooltip" data-placement="left" title="Connexion">
      <i class="fas fa-fw fa-power-off"></i>
      <span class="d-none d-sm-inline-block">Connexion</span>
    </a>
  {% endif %}
</nav>

<div class="container">
  {% block content %}{% endblock %}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/a9c187fa5c.js" crossorigin="anonymous"></script>

{% block scripts %}{% endblock %}

</body>
</html>
